@import "../css/utils.css";
body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #3B434C;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  color: #FFF;
}
input {
  outline: none;
}
.header {
  height: 862px;
  background-image: -moz-linear-gradient(to top, rgba(58, 64, 69, 0.9), rgba(58, 64, 69, 0.9)), url(../img/bg/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 45px;
}
.hed-wrapper {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
}
.logo {
  width: 158px;
  height: 18px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
}
.header__title {
  font-size: 70px;
  font-weight: 800;
  line-height: 1;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  padding-top: 170px;
  padding-bottom: 30px;
}
.header__subtitle {
  color: #FFF;
  text-align: center;
  padding-bottom: 65px;
}
.button__wrapper {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.navigation__toggle {
  display: block;
  font-size: 20px;
  color: #FFF;
  z-index: 2;
  cursor: pointer;
}
.navigation__toggle:hover,
.navigation__toggle:focus,
.navigation__toggle:active {
  color: #fff;
}
.navigation__toggle--fixed {
  position: fixed;
}
.navigation {
  color: #FFF;
  padding-right: 50px;
}
.navigation__list {
  margin: 0;
  padding: 0;
  display: none;
  text-transform: uppercase;
  list-style-type: none;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(58, 66, 75, 0.9);
  text-align: center;
}
.navigation__list--open {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.navigation__list li {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 20px;
  letter-spacing: 1.18px;
  line-height: 59px;
}
.down-wrap {
  height: 30px;
  text-align: center;
}
.services {
  height: auto;
}
.services-card {
  height: auto;
}
.services-card__icon {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  border: 1px solid #d4d6d8;
  background-repeat: no-repeat;
  background-position: center;
}
.services-card__title {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.services-card__disc {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  text-align: center;
  padding-bottom: 10px;
}
.services-card__icon--bg-printer {
  background-image: url(../img/gifts/printer.svg);
}
.services-card__icon--bg-monitor {
  background-image: url(../img/gifts/monitor.svg);
}
.services-card__icon--bg-mobile {
  background-image: url(../img/gifts/mobile.svg);
}
.services-card__icon--bg-pencil {
  background-image: url(../img/gifts/pencil.svg);
}
.subscribe {
  height: 249px;
  background-image: -moz-linear-gradient(to top, rgba(58, 64, 69, 0.9), rgba(58, 64, 69, 0.9)), url(../img/bg/subscribe-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.subscribe__input {
  height: 50px;
  text-align: left;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding-left: 25px;
  font-size: 14px;
  margin-bottom: 15px;
}
.works {
  height: auto;
}
.works__subtitle {
  text-align: center;
  padding-bottom: 90px;
}
.works__item {
  height: 365px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.works__item a {
  text-decoration: none;
}
.works-item__hover {
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 360px;
  height: 360px;
  padding: 50px;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  cursor: pointer;
  background-color: rgba(247, 96, 14, 0.9);
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.works-item__hover span {
  color: #fff;
  margin-bottom: 50px;
}
@media (min-width: 320px) {
  .works-item__hover {
    padding-top: 50px;
  }
}
.works__item:hover .works-item__hover {
  top: 0%;
  display: block;
}
.slider-person {
  height: auto;
  background-image: -moz-linear-gradient(to top, rgba(58, 64, 69, 0.9), rgba(58, 64, 69, 0.9)), url(../img/bg/slider-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
}
.slider__photo {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.slider__disc {
  font-size: 25px;
  line-height: 40px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 50px;
  text-align: center;
}
.slidrer__name {
  font-size: 18px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
}
.team {
  padding-bottom: 100px;
}
.team__subtitle {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 135px;
}
.slider-team {
  width: 285px;
  height: auto;
  text-align: center;
}
.slider-team__photo {
  width: 235px;
  height: 284px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.slider-team__name {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  color: #3B434C;
  margin-bottom: 25px;
}
.slider-team__contacts-icon {
  height: 25px;
  margin-bottom: 30px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.slider-team__dicr {
  color: #3B434C;
}
.footer {
  background-image: -moz-linear-gradient(to top, rgba(58, 64, 69, 0.9), rgba(58, 64, 69, 0.9)), url(../img/bg/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer__subtitle {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 95px;
  color: #FFF;
}
.footer-input {
  height: 50px;
  margin-bottom: 30px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding-left: 10px;
}
.footer-textarea {
  height: 200px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 25px;
}
textarea.form-control {
  height: 200px;
}
.footer__contacts-icon {
  margin-bottom: 30px;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.footer__contact {
  width: 100%;
  height: auto;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.button {
  height: 50px;
  font-size: 16px;
  line-height: 40px;
  font-weight: 600;
  background-color: transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #65696f;
  text-decoration: none;
  padding-top: 4px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  margin-right: 30px;
  display: block;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.button:hover {
  background-color: #f7600e;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #f7600e;
}
.button--width {
  width: 208px;
}
.down-button {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding-top: 1px;
  color: #FFF;
  border: 2px solid #fff;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  margin-top: 190px;
  margin-bottom: 50px;
}
.down-button:hover {
  color: #FFF;
  padding-top: 3px;
}
.button--subscribe {
  background-color: #f7600e;
  border: none;
  border: 1px solid #f7600e;
  margin-left: auto;
  margin-right: auto;
}
.button--subscribe:hover {
  border: 1px solid #fff;
}
.button--grey {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  color: #3B434C;
}
.button--white {
  margin-top: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7600e;
  border: 2px solid #fff;
  color: #FFF;
}
.button--white:hover {
  background-color: #FFF;
  border: 2px solid #fff;
  color: #f7600e;
}
@media (min-width: 320px) {
  .button--white {
    margin-top: 45px;
  }
}
.heading {
  font-size: 35px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.special-color {
  color: #f7600e;
}
.special-color2 {
  color: #fff;
}
.special-works {
  font-weight: 600;
  text-transform: uppercase;
  color: #FFF;
  padding-top: 30px;
  padding-bottom: 25px;
}
.cmn-toggle-switch {
  font-size: 0;
  position: absolute;
  z-index: 5;
  top: 0px;
  right: 0px;
  display: block;
  overflow: hidden;
  width: 35px;
  height: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: background .3s;
  transition: background .3s;
  text-indent: -9999px;
  border: none;
  border-radius: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 12px;
  left: 5px;
  right: 5px;
  height: 2px;
  background: white;
}
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}
.cmn-toggle-switch span::before {
  top: -8px;
}
.cmn-toggle-switch span::after {
  bottom: -8px;
}
/**
 * Style 2
 */
.cmn-toggle-switch__htx {
  background: transparent;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* active state*/
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.slider-person-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}
/* Styling Next and Prev buttons */
.slider-person-theme .owl-controls .owl-buttons div {
  display: none;
  position: absolute;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: left top;
  top: 50%;
  margin-top: -20px;
}
@media (min-width: 1200px) {
  .slider-person-theme .owl-controls .owl-buttons div {
    display: block;
  }
}
.owl-prev {
  left: 0;
  background-image: url('../img/arrow-left.png');
}
.owl-next {
  right: 0;
  background-image: url('../img/arrow-right.png');
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
/* Styling Pagination*/
.owl-pagination {
  position: absolute;
  bottom: -62px;
  width: 100%;
}
@media (min-width: 992px) {
  .owl-pagination {
    display: none;
  }
}
.slider-person-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.slider-person-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}
.slider-person-theme .owl-controls .owl-page.active span,
.slider-person-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
/* If PaginationNumbers is true */
.slider-person-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.slider-team-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}
/* Styling Next and Prev buttons */
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
/* Styling Pagination*/
.owl-pagination {
  display: block;
  position: absolute;
  bottom: -62px;
  width: 100%;
}
.slider-team-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.slider-team-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}
.slider-team-theme .owl-controls .owl-page.active span,
.slider-team-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
/* If PaginationNumbers is true */
.slider-team-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}
.contact-facebook,
.contact-twitter,
.contact-google,
.contact-world,
.contact-be {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contact-facebook {
  background-image: url(../img/social/facebook.png);
}
.contact-twitter {
  background-image: url(../img/social/twitter.png);
}
.contact-google {
  background-image: url(../img/social/google.png);
}
.contact-world {
  background-image: url(../img/social/world.png);
}
.contact-be {
  background-image: url(../img/social/be.png);
}
.wh-contact-1 {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.wh-contact-2 {
  width: 30px;
  height: 30px;
}
