.contact-facebook, .contact-twitter, .contact-google, .contact-world, .contact-be {
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}


.contact-facebook {
	background-image: url(../img/social/facebook.png);
}
.contact-twitter {
	background-image: url(../img/social/twitter.png);
}
.contact-google {
	background-image: url(../img/social/google.png);
}
.contact-world {
	background-image: url(../img/social/world.png);
}
.contact-be {
	background-image: url(../img/social/be.png);

}
.wh-contact-1 {
	width: 25px;
	height: 25px;
	margin-right: 15px;
}